$color-black: #000;
$color-white: #fff;
$color-blue: #112233;
$color-yellow: #ffc107;
$color-light-blue: #14273b;
$color-dark-yellow: #d6a206;
$color-test: #ff00ff;
$color-evil: #666;

* {
  font-family: sans-serif;
}

@for $i from 1 through 6 {
  h#{$i} {
    margin: 0;
  }
}

.bg-yellow {
  background-color: $color-yellow;
  color: $color-black;
}
.bg-blue {
  background-color: $color-blue;
  color: $color-white;
}
.bg-dark-yellow {
  background-color: $color-dark-yellow;
  color: $color-black;
}
.bg-light-blue {
  background-color: $color-light-blue;
  color: $color-white;
}

.bg-yellow-hover {
  @extend .bg-yellow;
  &:hover {
    @extend .bg-dark-yellow;
  }
}
.bg-blue-hover {
  @extend .bg-blue;
  &:hover {
    @extend .bg-light-blue;
  }
}

a {
  &,
  &:visited,
  &:hover,
  &:focus {
    color: $color-yellow;
    font-weight: bold;
    text-decoration: none;
  }
}

%btn {
  @extend .bg-yellow-hover;
  padding: 16px;
  &.blue {
    @extend .bg-blue-hover;
  }
}

button,
.btn {
  &,
  &:visited,
  &:focus {
    @extend %btn;
  }
}

body {
  color: $color-white;
  background-color: $color-black;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

%round {
  border-radius: 50%;
}

img {
  width: 100%;
  height: auto;
  .round {
    @extend %round;
  }
}

.center {
  text-align: center;
  display: grid;
  place-items: center;
}

#dashboard {
  display: grid;
  grid-template-rows: 56px auto;
  grid-template-areas:
    "header"
    "content";
  &.modules,
  &.users {
    grid-template-columns: 300px auto;
  }
  &.modules {
    grid-template-areas:
      "header nav"
      "modules content";
  }
}

#nav {
  @extend .bg-yellow;
  a,
  a:visited {
    color: inherit;
    font-weight: bold;
  }
}

#header,
#server-list > *,
#nav {
  img {
    @extend %round;
    height: 48px;
    width: auto;
    place-self: center;
  }
}

#header {
  grid-area: header;
  font-weight: bold;

  font-size: 1.17em;
  #server-list {
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 10;
    width: 300px;
    display: none;
  }
  > * {
    height: 24px;
  }
  * {
    height: 100%;
  }
  &,
  #server-list > * {
    @extend .center;
    grid-template-rows: 56px;
    grid-template-columns: 56px auto auto;
    text-align: left;
    grid-auto-flow: column;
    place-items: center;
    @extend .bg-yellow-hover;
    height: 56px;
    i {
      @extend .center;
      justify-self: center;
    }
  }

  &:focus-within #server-list {
    display: block;
  }
}
#nav {
  grid-area: nav;
  display: grid;
  grid-template-areas: "modules users login";
  grid-template-columns: auto auto 56px;
  & > * {
    @extend .center;
  }
  & > a {
    @extend .bg-yellow-hover;
    &.active {
      @extend .bg-dark-yellow;
    }
  }
}
.list {
  grid-area: modules;
  //   display: grid;
  & > * {
    @extend .center;
    height: 75px;

    @extend .bg-blue-hover;
    &.active {
      @extend .bg-yellow-hover;
    }
  }
}
#main {
  grid-area: content;
  .panel {
    @extend .bg-blue;
    margin: 10px;
    padding: 10px;
    display: none;
    grid-template-columns: auto 56px 10px;
    grid-template-areas:
      "title json"
      "description description";
    @for $i from 1 through 6 {
      h#{$i} {
        grid-area: title;
      }
    }
    button {
      grid-area: json;
    }
    p {
      grid-area: description;
    }
    &.page-header {
      display: grid;
      @extend .center;
    }
    &.error {
      background-color: #f44336;
      color: $color-white;
    }
    &.active {
      display: grid;
    }
  }
}
